
html,body{
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width:100vw;
}
.grid-container{
    height:100%;
    Width:100%;
    display:grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 80px 200px 50px 50px 1fr;
    align-content:center;
}
.item1-header{
    grid-column:1 / 4;
    padding: 4px;
    font-size: 8px;
    font-family: arial, sans-serif;
    align-content: center;
}

.item1-header a{
    text-decoration:none;
    color: black;
    opacity: 0.75;
}
.sign-in{
    background-color: #4285f4;
    border-radius: 1px;
    color:white !important;
    height:15px;
    margin: 0;
    padding-left: 10px;
    padding-right:10px;
    font-size: 13px;
    text-align: center;
    font-family:arial, sans-serif;
    text-decoration: none;
    align-content:center;
}

.item2-img{
    grid-column:2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.item3-searchbar{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 1px solid silver;
    text-align: center;
    padding: 5px;
    border-radius:25px;
}
.searchbar{
    width: 450px;
    height: 35px;
    border: 1px solid white;
}
.item4-buttons{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding:20px;
    text-align:center;
}
button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:#5F6368;
    min-width: 54px;
    height:36px;
    padding: 0 16px;
    font-size: 14px;
    margin: 11px 4px;
    text-align: center;
    display: inline-block;
    font-family:arial, sans-serif;
    cursor: pointer;
    user-select: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
li{
    display: inline;
    float:left;
    padding: 8px;
    font-size: medium;
}
a{
    display: block;
    padding: 8px;
}
